In [9]:
# Plot figures in the notebook (instead of a new window)
%matplotlib notebook

# Automatically reload modules
%load_ext autoreload
%autoreload 2        

# The usual imports
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [12]:
name = 'indonesia_palm'
path = 'datasets/indonesia_palm/'
original_csv = ['indonesia_palm_1989_1990_1991_1992_1993.csv', 'indonesia_palm_1994_1995_1996_1997_1998.csv', 
                'indonesia_palm_1999_2000_2001_2002_2003.csv', 'indonesia_palm_2004_2005_2006_2007_2008.csv',
                'indonesia_palm_2009_2010_2011_2012_2013.csv', 'indonesia_palm_2014_2015_2016.csv']
all_csv = []
for files in original_csv:
    df = pd.read_csv(path + files,index_col=None, header=0)
    all_csv.append(df)

df = pd.concat(all_csv)

In [13]:
df;

In [14]:
select_columns = ['Year', 'Netweight (kg)', 'Trade Value (US$)', 'Commodity', 'Partner', 'Partner ISO']
columns_pretty = ['Year', 'Weight', 'Value', 'Commodity', 'Partner', 'PartnerISO']

df_select = df[select_columns].sort_values('Year')
df_select.columns = columns_pretty
df_select.head(5)

,Year,Weight,Value,Commodity,Partner,PartnerISO
0,1989,781852992,244356000,"Palm oil and its fractions, not chemically mod...",World,WLD
21,1989,3003125,1108000,"Palm oil and its fractions, not chemically mod...",USA,USA
20,1989,76662920,23330000,"Palm oil and its fractions, not chemically mod...",United Kingdom,GBR
19,1989,15301640,4625000,"Palm oil and its fractions, not chemically mod...",Fmr USSR,SUN
18,1989,7000000,2238000,"Palm oil and its fractions, not chemically mod...",Turkey,TUR

In [15]:
df_select.dropna(subset=["PartnerISO"], inplace=True)

In [16]:
df_select.to_csv(os.path.join("datasets/clean", "{}_clean.csv".format(name)))