In [15]:
# Plot figures in the notebook (instead of a new window)
%matplotlib notebook

# Automatically reload modules
%load_ext autoreload
%autoreload 2        

# The usual imports
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [19]:
original_csv = "france_wine_all"

df = pd.read_csv(os.path.join("datasets", "{}.csv".format(original_csv)))
df.columns

Index(['Classification', 'Year', 'Period', 'Period Desc.', 'Aggregate Level',
       'Is Leaf Code', 'Trade Flow Code', 'Trade Flow', 'Reporter Code',
       'Reporter', 'Reporter ISO', 'Partner Code', 'Partner', 'Partner ISO',
       '2nd Partner Code', '2nd Partner', '2nd Partner ISO',
       'Customs Proc. Code', 'Customs', 'Mode of Transport Code',
       'Mode of Transport', 'Commodity Code', 'Commodity', 'Qty Unit Code',
       'Qty Unit', 'Qty', 'Alt Qty Unit Code', 'Alt Qty Unit', 'Alt Qty',
       'Netweight (kg)', 'Gross weight (kg)', 'Trade Value (US$)',
       'CIF Trade Value (US$)', 'FOB Trade Value (US$)', 'Flag'],
      dtype='object')

In [20]:
select_columns = ['Year', 'Netweight (kg)', 'Trade Value (US$)', 'Commodity', 'Partner', 'Partner ISO']
columns_pretty = ['Year', 'Weight', 'Value', 'Commodity', 'Partner', 'PartnerISO']

df_select = df[select_columns].sort_values('Year')
df_select.columns = columns_pretty
df_select.head(5)

,Year,Weight,Value,Commodity,Partner,PartnerISO
661,1999,75538,318914,"Grape wines(including fortified), alcoholic gr...",Kenya,KEN
637,1999,371170944,847885888,"Grape wines(including fortified), alcoholic gr...",Germany,DEU
636,1999,35585,53720,"Grape wines(including fortified), alcoholic gr...",Gambia,GMB
635,1999,9909,21909,"Grape wines(including fortified), alcoholic gr...",Georgia,GEO
634,1999,797312,3470900,"Grape wines(including fortified), alcoholic gr...",Gabon,GAB

In [21]:
df_select.dropna(subset=["PartnerISO"], inplace=True)

In [22]:
df_select.to_csv(os.path.join("datasets", "{}_clean.csv".format(original_csv)))