In [25]:
# Plot figures in the notebook (instead of a new window)
%matplotlib notebook

# Automatically reload modules
%load_ext autoreload
%autoreload 2        

# The usual imports
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [26]:
name = 'france_wine'
path = 'datasets/france_wine/'
original_csv = ['france_wine_1994_1995_1996_1997_1998.csv', 'france_wine_1999_2000_2001_2002_2003.csv', 
                'france_wine_2004_2005_2006_2007_2008.csv', 'france_wine_2009_2010_2011_2012_2013.csv',
                'france_wine_2014_2015_2016.csv']
all_csv = []
for files in original_csv:
    df = pd.read_csv(path + files,index_col=None, header=0)
    all_csv.append(df)

df = pd.concat(all_csv)

In [27]:
final_df;

In [28]:
select_columns = ['Year', 'Netweight (kg)', 'Trade Value (US$)', 'Commodity', 'Partner', 'Partner ISO']
columns_pretty = ['Year', 'Weight', 'Value', 'Commodity', 'Partner', 'PartnerISO']

df_select = df[select_columns].sort_values('Year')
df_select.columns = columns_pretty
df_select.head(5)

,Year,Weight,Value,Commodity,Partner,PartnerISO
548,1994,25596,368919,"Grape wines(including fortified), alcoholic gr...",Algeria,DZA
665,1994,38710,252695,"Grape wines(including fortified), alcoholic gr...",Vanuatu,VUT
666,1994,797487,6066136,"Grape wines(including fortified), alcoholic gr...",New Zealand,NZL
667,1994,0,1265,"Grape wines(including fortified), alcoholic gr...",Nicaragua,NIC
668,1994,36100,133577,"Grape wines(including fortified), alcoholic gr...",Niger,NER

In [29]:
df_select.dropna(subset=["PartnerISO"], inplace=True)

In [30]:
df_select.to_csv(os.path.join("datasets/clean", "{}_clean.csv".format(name)))