In [18]:
# Plot figures in the notebook (instead of a new window)
%matplotlib notebook

# Automatically reload modules
%load_ext autoreload
%autoreload 2        

# The usual imports
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [20]:
name = 'belgium_beer'
path = 'datasets/belgium_beer/'
original_csv = ['beer_2001_2000_1999.csv', 'beer_2004_2003_2002.csv', 
                'beer_2007_2006_2005.csv', 'beer_2010_2009_2008.csv',
                'beer_2013_2012_2011.csv', 'beer_2016_2015_2014.csv']
all_csv = []
for files in original_csv:
    df = pd.read_csv(path + files,index_col=None, header=0)
    all_csv.append(df)

df = pd.concat(all_csv)

In [21]:
final_df;

In [22]:
select_columns = ['Year', 'Netweight (kg)', 'Trade Value (US$)', 'Commodity', 'Partner', 'Partner ISO']
columns_pretty = ['Year', 'Weight', 'Value', 'Commodity', 'Partner', 'PartnerISO']

df_select = df[select_columns].sort_values('Year')
df_select.columns = columns_pretty
df_select.head(5)

    Year      Weight      Value            Commodity      Partner PartnerISO
0   1999  41748355.0  358626395  Beer made from malt        World        WLD
69  1999     36707.0      23308  Beer made from malt       Panama        PAN
68  1999     56820.0      68348  Beer made from malt       Norway        NOR
67  1999     16535.0      14319  Beer made from malt      Nigeria        NGA
66  1999   2379062.0    1962871  Beer made from malt  New Zealand        NZL

In [23]:
df_select.dropna(subset=["PartnerISO"], inplace=True)

In [24]:
df_select.to_csv(os.path.join("datasets/clean", "{}_clean.csv".format(name)))